{% extends 'header.html' %}
{% load static %}
{% block content %}

   <section class="breadcrumb breadcrumb_bg">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-8">
               <div class="breadcrumb_iner">
                  <div class="breadcrumb_iner_item">
                     <h2>About Us</h2>
                     <p><a href="{% url 'index' %}">Home</a> <span>-</span> About Us</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- breadcrumb start-->
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area padding_top">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{% static 'img/blog/single_blog_1.png' %}" alt="">
                  </div>
                  <div class="blog_details">
                     <h1 style="background-color: #ff3368; text-align: center;"> Company Profile </h1>
                        <!-- <ul class="blog-info-link mt-3 mb-4">
                           <li><a href="#"><i class="far fa-user"></i> Travel, Lifestyle</a></li>
                           <li><a href="#"><i class="far fa-comments"></i> 03 Comments</a></li>
                        </ul> -->
                     <p class="excert">
                       <b style="color: black; font-size: 20px;">Jay Bhairav Enterprise</b>  is a Service Proivder of all types of pvc & Solid pvc products. We are making Pvc Doors, Pvc Kitchen Kabinet, Pvc Wardrobe, Pvc Tv Kabinet, Pvc Designer Ceiling, Pvc Wall Panelling, Solid Pvc Doors, Solid Pvc Kitchen Kabinet, Solid Pvc Wardrobe, Solid Pvc Tv Kabinet, Solid Pvc Designer Ceiling, Solid Pvc Wall Panelling All type of Pvc & Solid Pvc Furniture. We Are give Quality prosuct & Services to the customers. Customers satisfaction is our main aim.<br>
                       If you contact us, <br>&nbsp;&nbsp;  <b style="color: black;">Phone No is 8401952564 & 7600272509. <br> &nbsp; &nbsp;   Email Id is jaybhairaventerprise2312@gmail.com.</b>

                     </p>

                     <h1 style="background-color: #ff3368; text-align: center;"> Quality Assurance </h1>


                     <p>
                        Quality being our main aim. We provide quality range of products & services to our customers.The finished products are tested on various parameters due to which our wide array have gained huge accolades among our clients. 
                     </p>
                     <!-- <div class="quote-wrapper">
                        <div class="quotes">
                           MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                           should have to spend money on boot camp when you can get the MCSE study materials yourself at
                           a fraction of the camp price. However, who has the willpower to actually sit through a
                           self-imposed MCSE training.
                        </div>
                     </div>
                     <p>
                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                        should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                        fraction of the camp price. However, who has the willpower
                     </p> -->
                     <!-- <p>
                        MCSE boot camps have its supporters and its detractors. Some people do not understand why you
                        should have to spend money on boot camp when you can get the MCSE study materials yourself at a
                        fraction of the camp price. However, who has the willpower to actually sit through a
                        self-imposed MCSE training. who has the willpower to actually
                     </p> -->
                  </div>
               </div>
<!--              
               <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form class="form-contact comment_form" action="#" id="commentForm">
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Write Comment"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="form-group">
                              <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                           </div>
                        </div>
                     </div>
                     <div class="form-group mt-3">
                        <a href="#" class="btn_3 button-contactForm">Send Message</a>
                     </div>
                  </form>
               </div> -->
            </div>
           
         </div>
      </div>
   </section>

{% endblock %}
  

